.event-cards{
    background-color: rgb(240, 240, 240);
    margin: 20px auto;
    text-align: left;
    border: 1px solid rgb(134, 134, 134);
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    display: flex;
}

.event-cards h4{
    margin: 0;
}
.event-cards td{
    padding: 0 10px;
}

.event-thumbnail{
    height: 5vw;
    width: 5vw;
}

.event-cards button{
    height: 50px;
    width: 80px;
    margin: 0 25px;
    border-radius: 5px;
    font-size: large;
    font-weight: 500;
    color: white;
}
.remove-button{
    background-color: #d62222;
    border: 1px solid #b61818;
    box-shadow: 2px 2px 2px #910f0f;
}

.remove-button:hover{
    background-color: #d44e4e;
    cursor: pointer;
}

.left-table{
    display: flex;
    flex-direction: column;
}

.event-link{
    text-decoration: none;
    color: rgb(5, 5, 148);
}

.created-card{
    /* width: 300px; */
    padding: 10px;
    border: 1px solid #424242;
    margin: 20px;
    border-radius: 5px;
}


.created-card h2{
    white-space: nowrap; 
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.created-card h4{
    margin: 0;
}

.created-events-display{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: left;
}
.created-event-thumbnail{
    height: 100%;
    /* width: 100%; */
    max-height: 6vw;
}

.c-button{
    height: 50px;
    width: 80px;
    margin: 0;
    border-radius: 5px;
    font-size: large;
    font-weight: 500;
    color: white;
}

.red{
    background-color: #d62222;
    border: 1px solid #b61818;
    box-shadow: 2px 2px 2px #910f0f;
}
.red:hover{
    background-color: #d44e4e;
    cursor: pointer;
}

.blue{
    background-color: #2196f3;
    border: 1px solid rgb(28, 118, 192);
    box-shadow: 2px 2px 2px rgba(23, 73, 236, 0.575);
}
.blue:hover{
    background-color: #61b3f7;
}
